body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rainbow-letters {
font-size: 40px;
text-transform: uppercase;
text-align: center;
}

.rainbow-letters span:nth-child(10n + 1) {
color: #ef5350;
}

.rainbow-letters span:nth-child(10n + 2) {
color: #ab47bc;
}

.rainbow-letters span:nth-child(10n + 3){
color: #651fff;
}

.rainbow-letters span:nth-child(10n + 4){
color: #3949ab;
}

.rainbow-letters span:nth-child(10n + 5) {
color: #2196f3;
}

.rainbow-letters span:nth-child(10n + 6){
color: #00bcd4;
}

.rainbow-letters span:nth-child(10n + 7){
color: #4caf50;
}

.rainbow-letters span:nth-child(10n + 8){
color: #ffc107;
}
.rainbow-letters span:nth-child(10n + 11){
color: #ef5350;
}
.rainbow-letters span:nth-child(10n + 12){
color: #ab47bc;
}
.rainbow-letters span:nth-child(10n + 13){
color: #651fff;
}
.rainbow-letters span:nth-child(10n + 14){
color: #00bcd4;
}
.rainbow-letters span:nth-child(10n + 15){
color: #2196f3;
}
.rainbow-letters span:nth-child(10n + 16){
color: #ffc107;
}

.gallery {
    margin: 10px 50px;
}

.gallery img {
    width: 215px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}
